.navigation{
    display: inline-flex;
    justify-content: space-around;
    width: 100vw;
}
.mainObject{
    padding: 20px;
    margin: auto;
    text-align: center;
}
.udContainer td{
    padding:10px !important;
    border: 0.5px solid;
}
.udContainer th{
    border: 0.5px solid;
}
.rowHover:hover, .crowHover2:hover, .arowHover2:hover{
    background-color:lightcyan;
    cursor:pointer
}
.udContainer{
    width:45vw;
    margin:auto;
    overflow:hidden;
    text-align:center
}
.udContainer tr{
    border:solid 1px
}
.Table{
    display: table;
    width:80%;
 }
 .Title{
    display: table-caption;
    text-align: center;
    font-weight: bold;
    font-size: larger;
 }
 .Heading{
    display: table-row;
    font-weight: bold;
    text-align: center;
 }
 .Row{
    display: table-row;
 }
 .Cell{
    display: table-cell;
    border: solid;
    border-width: thin;
    padding-left: 5px;
    padding-right: 5px;
    width:30%;
 }